<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> FPL Predictions & Analytics | FPL Auspicate </title>
    <link rel="stylesheet" href="../../assets/css/style.css">
    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
<!-- BEGIN MENU -->
  <div class="sidebar close">
    <div class="logo-details">
      <i class='bx bx-football bx-spin'></i>
      <span class="logo_name">FPL auspicate</span>
    </div>
    <ul class="nav-links">
<!-- Home page -->
<li>
  <a href="../../index.html">
    <i class='bx bx-home-circle bx-border-circle bx-tada-hover' ></i>
    <span class="link_name">Home</span>
  </a>
  <ul class="sub-menu blank">
    <li><a class="link_name" href="../../index.html">Home</a></li>
  </ul>
</li>
<!-- Predictions section -->
<li>
  <div class="iocn-link">
    <a href="#">
      <i class='bx bx-chip bx-tada-hover' ></i>
      <span class="link_name">Predictions</span>
    </a>
    <i class='bx bxs-chevron-down arrow bx-fade-down-hover' ></i>
  </div>
  <ul class="sub-menu">
    <li><a class="link_name" href="#">Predictions</a></li>
    <li><a href="./captain_picks.html"><i class='bx bxs-image'></i>Captain</a></li>
    <li><a href="./top10.html"><i class='bx bxs-image'></i>Top-10 by position</a></li>
    <li><a href="./predictions.html"><i class='bx bx-scatter-chart'></i>All</a></li>
  </ul>
</li>
<!-- Team Analytics -->
<li>
  <div class="iocn-link">
    <a href="#">
      <i class='bx bx-group bx-tada-hover' ></i>
      <span class="link_name">Team Analytics</span>
    </a>
    <i class='bx bxs-chevron-down arrow bx-fade-down-hover' ></i>
  </div>
  <ul class="sub-menu">
    <li><a class="link_name" href="#">Team Analytics</a></li>
    <li><a href="./team_form.html"><i class='bx bx-table'></i>form</a></li>
    <li><a href="./team-attack.html"><i class='bx bx-scatter-chart' ></i>Attacking stats</a></li>
    <li><a href="./team-defense.html"><i class='bx bx-scatter-chart' ></i>Defensive stats</a></li>
    <li><a href="./team-attack-perf.html"><i class='bx bx-scatter-chart' ></i>Attacking performance</a></li>
    <li><a href="./team-defense-perf.html"><i class='bx bx-scatter-chart' ></i>Defensive performance</a></li>
  </ul>
</li>
<!-- Player Analytics -->
<li>
  <div class="iocn-link">
    <a href="#">
      <i class='bx bxs-analyse bx-tada-hover' ></i>
      <span class="link_name">Player Analytics</span>
    </a>
    <i class='bx bxs-chevron-down arrow bx-fade-down-hover' ></i>
  </div>
  <ul class="sub-menu">
    <li><a class="link_name" href="#">Player Analytics</a></li>
    <li><a href="./player_form.html">Form</Form></a></li>
    <li><a href="./XGI.html"><i class='bx bx-scatter-chart' ></i>Expected Goal involvements (XGI)</a></li>
    <li><a href="./PPM.html"><i class='bx bx-scatter-chart' ></i>Points per Million (£)</a></li>
    <li><a href="./fwd-xgi-analysis.html"><i class='bx bx-scatter-chart' ></i>Forwards - XGI analysis</a></li>
    <li><a href="./mid-xgi-analysis.html"><i class='bx bx-scatter-chart' ></i>Midfielder - XGI analysis</a></li>
    <li><a href="./def-xgi-analysis.html"><i class='bx bx-scatter-chart' ></i>Defenders - XGI analysis</a></li>
    <li><a href="./FWD_stats_table.html"><i class='bx bx-table'></i>Forwards stats</a></li>
    <li><a href="./MID_stats_table.html"><i class='bx bx-table'></i>Midfielder stats</a></li>
    <li><a href="./DEF_stats_table.html"><i class='bx bx-table'></i>Defenders stats</a></li>
    <li><a href="./GKP_stats_table.html"><i class='bx bx-table'></i>Goal Keepers stats</a></li>
    
  </ul>
</li>
<!-- Budget players -->
<li>
  <div class="iocn-link">
    <a href="#">
      <i class='bx bxs-coin-stack bx-tada-hover'></i>
      <span class="link_name">Budget&Cheap players</span>
    </a>
    <i class='bx bxs-chevron-down arrow bx-fade-down-hover' ></i>
  </div>
  <ul class="sub-menu">
    <li><a class="link_name" href="#">Budget&Cheap players</a></li>
    <li><a href="./budget_fwd.html"><i class='bx bx-table'></i>Forwards under £6.1</a></li>
    <li><a href="./budget_mid.html"><i class='bx bx-table'></i>Midfielders under £6.6</a></li>
    <li><a href="./budget_def.html"><i class='bx bx-table'></i>Defenders under £4.6</a></li>
    <li><a href="./cheap_fwd.html"><i class='bx bx-table'></i>Forwards under £4.6</a></li>
    <li><a href="./cheap_mid.html"><i class='bx bx-table'></i>Midfielders under £4.6</a></li>
    <li><a href="./cheap_def.html"><i class='bx bx-table'></i>Defenders under £4.1</a></li>
  </ul>
</li>
<!-- FDR -->
<li>
  <div class="iocn-link">
    <a href="#">
      <i class='bx bx-group bx-tada-hover' ></i>
      <span class="link_name">FDR</span>
    </a>
    <i class='bx bxs-chevron-down arrow bx-fade-down-hover' ></i>
  </div>
  <ul class="sub-menu">
    <li><a class="link_name" href="#">FDR</a></li>
    <li><a href="./fdr_3.html"><i class='bx bxs-image'></i>Next-3 GWs</a></li>
    <li><a href="./fdr_5.html"><i class='bx bxs-image'></i>Next-5 GWs</a></li>
  </ul>
</li>
<!-- Profile section - dont change   -->
  <li>
    <div class="profile-details">
      <div class="profile-content">
        <img src="../../assets/image/profile.png" alt="profileImg">
      </div>
      <div class="name-job">
        <div class="profile_name">Joseph</div>
      </div>
      <i class='bx bx-log-out' ></i>
    </div>
  </li>
</ul>
  </div>
<!-- END MENU -->
  <section class="home-section">
    <div class="home-content">
      <i class='bx bx-menu' ></i>
      <span class="text">
      </span>
            {{ fig }}
    </div>
  </section>
  <script src="../../assets/js/script.js"></script>

</body>
</html>
